/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    width: 960px;
    font-family: 'Dosis', sans-serif;
    position: relative;
}

header#page_header nav ul li, footer#page_footer nav ul li {
    float: left;
    color: #555555;
    padding: 0;
    margin: 0 20px 0 0;
    display: inline;
    font-size: 10px;
    text-decoration: none;
}

p {
    margin: 0 0 20px 0;
}
section#posts{
    float: left;
    width: 74%;
}

section#posts aside{
    color: #555555;
    text-decoration: none;
    float: right;
    width: 35%;
    margin-left: 5%;
    font-size: 10px;
    line-height: 40px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    width: 960px;
    height: auto;
    margin-top: 0px;

}
.title {
    position: relative;
    widows: 230;
    height: 60px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    font-size: 30px;
    font-weight: 700;
    margin-top: 90px;
}

.sub-title {
    top: 50px;
    font-weight: 300;
    font-size: 17px;
    margin-top: 100px;
    float: left;
}

.sub-title1 {
    top: 50px;
    font-weight: 300;
    font-size: 17px;
    margin-top: 100px;
    margin-left: 250px;
    float: left;
}

.sub-title2 {
    position: absolute;
    top: 400px;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 50px;
    float: left;
}

.img {
    margin-top: 20px;
    margin-left: 20px;
}


.mainmenu {
    color: #cccccc;
    position: relative;
    float: left;
    left: 585px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 13px;
}

.item .item-header {
    margin: 50px 0;
    text-align: right;
}

.item .item-content {
    text-align: right;
}

.item .item-header {
    top: 5px;
    left: 5px;
    font-size: 15px;
    font-weight: 500;
}

.h1 {
    color: #b3d4fc;
}

.box {
    position: relative;
    color: #555555;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: whitesmoke;
    float: left;
    left: 40px;
    font-size: 12px;

}

.box1 {
    position: relative;
    left: 75px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}

.box3 {
    position: relative;
    top: 60px;
    left: 40px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}


.box4{
    position: relative;
    top: 60px;
    left: 70px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}

.box5 {
    position: relative;
    top: 90px;
    left: 40px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}


.box6 {
    position: relative;
    top: 90px;
    left: 70px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}

.box7 {
    position: relative;
    top: 120px;
    left: 40px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}


.box8 {
    position: relative;
    top: 120px;
    left: 80px;
    color: #c0c0c0;
    float: left;
    font-size: 12px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}

.b1 {
    float: left;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b2 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b3 {
    float: left;
    color: red;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b4 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b5 {
    float: left;
    color: red;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b6 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b7 {
    float: left;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b8 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b9 {
    float: left;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b10 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b11 {
    float: left;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b12 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b13 {
    float: left;
    color: red;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b14 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b15 {
    float: left;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.b16 {
    float: left;
    margin-left: 165px;
    color: #cccccc;
    font-size: 9px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 50px;
}

.cc {
    position: absolute;
    top: 1600px;
    color: gray;
    font-size: 9.3px;
    padding-top: 27px;
    padding-left: 110px;
    padding-right: 700px;
    padding-bottom: 27px;
    font-family: 'Karla', sans-serif;
    background-color: whitesmoke;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
